 <!-- ======= Hero Section ======= -->
 <section id="hero">

    <div class="container">
      <div class="row d-flex align-items-center">
      <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
        <h1>visualiza nuestro portafolio de proyectos</h1>
        <h2>
          somos un equipo de estudiantes y egresados de la universidad cooperativa de colombia(Sede ibague-espinal), que busca
           mostrar sus proyectos de software entorno a la inteligencia artificial.

        </h2>
        <a href="#about" class="btn-get-started scrollto">quiero saber mas</a>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
        <img src="assets/img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
    </div>

  </section><!-- End Hero -->
