<section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2 data-aos="fade-in">Preguntas Frecuentes</h2>
        <p data-aos="fade-in">Aquí encontrarás respuestas a las preguntas más comunes que nuestros usuarios nos hacen. Si no encuentras lo que estás buscando, 
          no dudes en contactarnos para que podamos ayudarte de manera personalizada.
        </p>
      </div>

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
        <div class="col-lg-5">
          <i class="bx bx-help-circle"></i>
          <h4>¿Cual es la mision del semillero de investigacion?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            El semillero de investigación INNOVASIC busca el desarrollo de la capacidad crítica, creativa y de razonamiento  de sus integrantes, 
            así como la transferencia a sus integrantes de los métodos y técnicas de la investigación y el fomento del trabajo en equipo que 
            permita la evolución en el  desarrollo de entornos de programación inteligente, verificación y validación de software basado en IA, 
            arquitecturas de software y hardware para el uso en tiempo real de técnicas de IA, seguridad y confiabilidad, detección inteligente 
            de anomalías, diagnóstico y monitoreo de redes de datosen el mejoramiento de la calidad de vida de las comunidades.
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-5">
          <i class="bx bx-help-circle"></i>
          <h4>¿Cual es la vision del semillero de investigacion?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            En el 2024, INNOVASIC se posicionará como un referente a nivel global en la investigación y aplicación de tecnologías de inteligencia 
            artificial para el desarrollo de soluciones innovadoras y disruptivas en diversos campos, tales como la salud, la educación, la seguridad
            y la sostenibilidad, con un enfoque en el bienestar y la calidad de vida de las comunidades. Además, será reconocido por su liderazgo en 
            la formación de una nueva generación de investigadores y profesionales altamente capacitados y comprometidos con la investigación y la innovación, 
            que contribuyan a transformar el mundo y a resolver los desafíos más apremiantes de nuestra sociedad.
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-5">
          <i class="bx bx-help-circle"></i>
          <h4>¿Cuáles son los objetivos del semillero de investigación INNOVASIC?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Diseñar entornos de programación inteligente, verificación y validación de software basado en IA, arquitecturas de software y hardware para el uso 
            en tiempo real de técnicas de IA, seguridad y confiabilidad, detección inteligente de anomalías, diagnóstico y monitoreo de redes de datos en contextos 
            enmarcados por las líneas de Investigación de la Universidad para el mejoramiento de la calidad de vida de las comunidades.
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="col-lg-5">
          <i class="bx bx-help-circle"></i>
          <h4>¿Cuáles son las líneas de trabajo del semillero de investigación INNOVASIC?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Entornos de programación inteligente, verificación y validación de software basado en IA, arquitecturas de software y hardware para el uso en tiempo real 
            de técnicas de IA, seguridad y confiabilidad, Detección inteligente de anomalías, diagnóstico y monitoreo
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="col-lg-5">
          <i class="bx bx-help-circle"></i>
          <h4>¿Cómo puedo unirme al semillero de investigación INNOVASIC?
          </h4>
        </div>
        <div class="col-lg-7">
          <p>
            <li>Tener un nivel superior o igual a cuarto semestre.</li>
            <li>Tener una idea o tema propuesto para desarrollar su proyecto de investigación formativa.</li>
            <li>Su temática tiene que ver con las líneas de trabajo del semillero.</li>
            <li>Tener la habilidad de trabajar en equipo.</li>
            <li>Tener la habilidad de tener una segunda lengua.</li>
            <li>Tener la habilidad de poder presentarse en público.</li>
            <li>Deseo llevar a cabo investigaciones.</li>
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

    </div>
  </section>